{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}

<div class="ui centered grid tall">
  <div class="top-segment">
    <div class="text container">
      <h1 class="blue_header">About Open Book Philadelphia</h1>
      <p class="regular">
        Administered by the City Controller’s Office, Open Book Philadelphia is an easy-to-use, searchable database of City spending on professional services contracts. It also makes it possible to find other important City transparency information, such as lobbyists and financial disclosures, in one central location. Contract data is updated quarterly and is sourced directly from the <a href="https://www.opendataphilly.org/dataset/professional-services-contract-data">City’s open data portal<a>. 
      </p>
    </div>
  </div>
  <div class="wrapper">
    <div class="left-segment" style="margin-bottom: 100px; margin-top: 0px !important">
      <div class="text container">
        <h1 class="blue_header">About the City Controller</h1>
        <p class="regular">
          Not subject to term limits, the City Controller is a popularly-elected City official, serving four-year terms staggered from the mayor and council elections.  The City Controller is the Chief Auditor of the City of Philadelphia and the financial auditor for the School District of Philadelphia. The City Controller is independent of the Mayor and City Council and is charged with auditing their operations. Current City Controller, Rebecca Rhynhart, made history in 2018 when she was sworn in as the first woman ever elected to the position.
          
          Serve on the Board of Pensions and Retirement, which oversees the management of investments and the payment of benefits;<br>
          Serve on the Philadelphia Gas Commission, which approves the Philadelphia Gas Works (PGW) operating budget and short-term financing, and reviews and recommends PGW’s capital budget to City Council;<br>
          Serve as a member of the Sinking Fund Commission, which oversees investment of revenues paid into a sinking fund for payment of bond principal and interest and investment of the PGW Retirement Reserve;<br>
          Serve as a member of the Bond Committee, which approves bond issues. The City Controller certifies the City of Philadelphia’s debt capacity and the capital nature and useful life of projects built with bond proceeds;<br>
          Serve as auditor of the Philadelphia School District;<br>
          Evaluate the reasonableness of the assumptions and estimates in the City’s Five Year Plan for PICA; and<br>
          Investigate accusations of mismanagement and fraud by City agencies, employees and/or contractors.<br>
      </p>

      <p class="regular">
        Made with ❤️ by <b><a href="https://hack4impact.org/"> @Hack4Impact Penn</a></b>
      </p>

      </div>
    </div>
    <div class="right-segment">
      <br/><br/>
      <img src="../../static/images/headshot.jpg">
      <!-- <br/><br/> -->
    </div>
  </div>
  <br/><br/>
</div>

{% endblock %}
