{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}


<div class="ui centered grid tall">
  <div class="top-segment">
    <div class="text container">
      <h1 class="blue_header">About Open Book Philadelphia</h1>
      <p class="regular">
        Open Book Philadelphia is a searchable database of City of Philadelphia government contracts for professional services, administered by Philadelphia’s Office of the City Controller. Open Book Philadelphia provides an easy-to-use tool for examining how City leaders are spending taxpayer money. Contract data is sourced directly from the City’s open data portal and is updated quarterly. In addition to professional service contracts, Open Book Philadelphia provides access to several other transparency tools related administered by the City of Philadelphia. These tools give taxpayers access to financial disclosure forms for City officials, campaign contributions and expenditures for elected officials and candidates, and lobbyists registered with the City of Philadelphia.
      </p>
    </div>
  </div>
  <div class="wrapper">
    <div class="left-segment" style="margin-bottom: 100px">
      <div class="text container">
        <h1 class="blue_header">About the City Controller</h1>
        <p class="regular">
          The City Controller is a popularly-elected City official and serves four-year terms, staggered from Mayor and Council elections, and is not subject to term limits. The City Controller is the Chief Auditor of the City of Philadelphia and the School District. The City Controller is independent of the Mayor and City Council and is charged with auditing their operations. The current City Controller is Rebecca Rhynhart, who made history in 2018 when she was sworn in as the first woman ever elected City Controller for the City of Philadelphia.
        </p>
        <ul>
          <li>Serve on the Board of Pensions and Retirement, which oversees the management of investments and the payment of benefits;</li>
          <li>Serve on the Philadelphia Gas Commission, which approves the Philadelphia Gas Works (PGW) operating budget and short-term financing, and reviews and recommends PGW’s capital budget to City Council;</li>
          <li>Serve as a member of the Sinking Fund Commission, which oversees investment of revenues paid into a sinking fund for payment of bond principal and interest and investment of the PGW Retirement Reserve;</li>
          <li>Serve as a member of the Bond Committee, which approves bond issues. The City Controller certifies the City of Philadelphia’s debt capacity and the capital nature and useful life of projects built with bond proceeds;</li>
          <li>Serve as auditor of the Philadelphia School District;</li>
          <li>Evaluate the reasonableness of the assumptions and estimates in the City’s Five Year Plan for PICA; and</li>
          <li>Investigate accusations of mismanagement and fraud by City agencies, employees and/or contractors.</li>
        </ul>
      </div>
    </div>
    <div class="right-segment">
      <br/><br/>
      <img src="../../static/images/headshot.jpg">
      <br/><br/>
      Made with ❤️ by <a href="https://hack4impact.org/">Hack4Impact!</a>
    </div>
  </div>
  <br/><br/>
</div>

{% endblock %}
