{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui centered grid">
    <div class="column">
        <div class="ui text container" style="margin-top: 50px">
            <h1>Contact the City Controller's Office</h1>
            <h2 style="font-family: Avenir; color:black; font-weight: 500;margin-bottom: 40px; font-size: 18px;">Contact information can be found below.</h2>
            
            <div class="paper">
                <h2>Office of the City Controller</h2>
                <ul>
                    <li>1230 Municipal Services Building</li>
                    <li>1401 John F. Kennedy Boulevard</li>
                    <li>Philadelphia, PA 19102-1679</li>
                </ul>

                <h2>Contact Information</h2>
                <h3>Nicole McCormac, Chief of Staff</h3>
                <ul>
                    <li><a href="mailto:Nicole.McCormac@phila.gov">Nicole.McCormac@phila.gov</a></li>
                    <li>215-686-6159</li>
                </ul>
                <h3>Jolene Nieves Byzon, Director of Communications</h3>
                <ul>
                    <li><a href="mailto:Jolene.Nieves.Byzon@phila.gov">Jolene.Nieves.Byzon@phila.gov</a></li>
                    <li>215-300-1071</li>
                </ul>
            </div>
        </div>
    </div>  

</div>
{% endblock %}