{% extends 'layouts/base.html' %}

{% block content %}

    <!-- <div class="ui centered grid">
        <div class="sixteen wide column" id="landing">
          <div class="ui text container">
            <h1 class="ui header">City of Philadelphia’s  government contracts,
              campaign finance reports, and lobbyists.</h1>
            <p>
              Search Open Book Philadelphia for City contracts, campaign donations and expenditures of 
              candidates for a City office, and lobbyists that do business with the City of Philadelphia.
            </p>
          </div>
        </div>
        <div class="row" id="row_padding">
        <div class="two wide column">
          <div class="ui button">CITY CONTRACTS</div>
          <p>
            Search contracts for all city departments.
          </p>
          <p>
            <a href="https://google.com" id="custom_link">
              Find City Contracts →
            </a>
          </p>
        </div>
        <div class="two wide column">
          <div class="ui button">CAMPAIGN FINANCE</div>
          <p>
            Search for campaign contributions and expenditures of candidates for Mayor, 
            Controller and City Council.
          </p>
          <p>
            <a href="https://google.com" id="custom_link">
              Search Campaign Finance →
            </a>
          </p>
        </div>
        <div class="two wide column">
          <div class="ui button">LOBBYISTS</div>
          <p>
            See those who are registered as lobbyists with the City of Pittsburgh.
          </p>
          <p>
            <a href="https://google.com" id="custom_link">
              Find Lobbyists →
            </a>
          </p>
        </div>
      </div>
      </div> -->

      <div class="ui centered grid">

          <!-- text blurb -->
          <div class="row">
            <div class="text container">
              <h1 class="ui header">City of Philadelphia’s  government contracts,
                campaign finance reports, and lobbyists.</h1>
              <p>
                Search Open Book Philadelphia for City contracts, campaign donations and expenditures of 
                candidates for a City office, and lobbyists that do business with the City of Philadelphia.
              </p>
            </div>
          </div>

          <!-- buttons -->
          <!-- <div class="row"> -->
            <div class="three wide column">
              <button class="ui button">CITY CONTRACTS</button>
              <p>
                Search contracts for all city departments.
              </p>
              <p>
                <a href="https://google.com" id="custom_link">
                  Find City Contracts →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <button class="ui button">CAMPAIGN FINANCE</button>
              <p>
                Search for campaign contributions and expenditures of candidates for Mayor, 
                Controller and City Council.
              </p>
              <p>
                <a href="https://google.com" id="custom_link">
                  Search Campaign Finance →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <button class="ui button">LOBBYISTS</button>
              <p>
                See those who are registered as lobbyists with the City of Pittsburgh.
              </p>
              <p>
                <a href="https://google.com" id="custom_link">
                  Find Lobbyists →
                </a>
              </p>
            </div>
          <!-- </div> -->
      </div>

{% endblock %}
