{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    {% set flashes = {
      'success': get_flashed_messages(category_filter=['form-success'])
    } %}

      <div class="ui centered grid">

          <!-- text blurb -->
          <div class="row">
            <div class="text container">
              <h1 class="ui header">City of Philadelphia’s government contracts, campaign finance reports, lobbyists, and financial disclosures.</h1>
              <p>
                Search Open Book for the City of Philadelphia’s contracts, campaign finance reports, lobbyists and financial disclosure forms.
                <br>
                As the independent financial watchdog for the City of Philadelphia, it is the mission of the City Controller to promote the effective and efficient operation of Philadelphia government. Under City Controller Rebecca Rhynhart, the office is committed to transparency, accountability and good government. Open Book aims to increase transparency by providing access to important financial information about City contracts, campaign finance, lobbyists and financial disclosures.
              </p>
            </div>
          </div>

          <!-- buttons -->
          <!-- <div class="row"> -->
            <div class="three wide column">
              <a href="/search">
              <button class="ui button landing">CITY CONTRACTS</button></a>
              <p>
                Search professional services contracts for all City departments.
              </p>
              <p>
                <a href="/search" id="custom_link">
                  Search City Contracts →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <a href="https://apps.phila.gov/campaign-finance/search/contributions">
              <button class="ui button landing">CAMPAIGN FINANCE</button></a>
              <p>
                Search campaign contributions and expenditures of candidates for all independently elected offices.
              </p>
              <p>
                <a href="https://apps.phila.gov/campaign-finance/search/contributions" id="custom_link">
                  Search Campaign Finance →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <a href="http://plis.cloudapp.net/Public/wfSearch.aspx">
              <button class="ui button landing">LOBBYISTS</button></a>
              <p>
                Explore the City’s database of registered lobbyists, which includes individuals and organizations who spend money to influence City actions.
              </p>
              <p>
                <a href="http://plis.cloudapp.net/Public/wfSearch.aspx" id="custom_link">
                  Search Lobbyists →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <a href="https://financial-disclosure.phila.gov/search">
              <button class="ui button landing">FINANCIAL DISCLOSURES</button></a>
              <p>
                See financial disclosure forms filed with the Board of Ethics for City of Philadelphia elected officials and employees.
              </p>
              <p>
                <a href="https://financial-disclosure.phila.gov/search" id="custom_link">
                  Search Financial Disclosures →
                </a>
              </p>
            </div>

            <!-- </div> -->
      </div>

{% endblock %}
