{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    {% set flashes = {
      'success': get_flashed_messages(category_filter=['form-success'])
    } %}

      <div class="ui centered grid">

          <!-- text blurb -->
          <div class="row">
            <div class="text container">
              <h1 class="ui header">City of Philadelphia’s  government contracts,
                campaign finance reports, and lobbyists.</h1>
              <p>
                As the independent financial watchdog for the City of Philadelphia, it is the mission of the City Controller to promote the effective and efficient operation of Philadelphia government by identifying cost savings, recommending best practices and modernization, and exposing fraud and mismanagement. Under City Controller Rebecca Rhynhart, the office is committed to transparency, accountability and good government.
              </p>
            </div>
          </div>

          <!-- buttons -->
          <!-- <div class="row"> -->
            <div class="three wide column">
              <a href="/search">
              <button class="ui button landing">CITY CONTRACTS</button></a>
              <p>
                Search professional services contracts for all city departments.
              </p>
              <p>
                <a href="/search" id="custom_link">
                  Find City Contracts →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <a href="https://apps.phila.gov/campaign-finance/search/contributions">
              <button class="ui button landing">CAMPAIGN FINANCE</button></a>
              <p>
                Search for campaign contributions and expenditures of candidates for Mayor,
                Controller and City Council.
              </p>
              <p>
                <a href="https://apps.phila.gov/campaign-finance/search/contributions" id="custom_link">
                  Search Campaign Finance →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <a href="http://plis.cloudapp.net/Public/wfSearch.aspx">
              <button class="ui button landing">LOBBYISTS</button></a>
              <p>
                See those who are registered as lobbyists with the City of Philadelphia.
              </p>
              <p>
                <a href="http://plis.cloudapp.net/Public/wfSearch.aspx" id="custom_link">
                  Find Lobbyists →
                </a>
              </p>
            </div>

            <div class="three wide column">
              <a href="https://financial-disclosure.phila.gov/search">
              <button class="ui button landing">FINANCIAL DISCLOSURES</button></a>
              <p>
                See the financial disclosures for the City of Philadelphia.
              </p>
              <p>
                <a href="https://financial-disclosure.phila.gov/search" id="custom_link">
                  Find Financial Disclosures →
                </a>
              </p>
            </div>

            <!-- </div> -->
      </div>

{% endblock %}
