{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui text container">
    <style>
        .paper {
            background-color: #f7f7f7;
            margin-top: 10px;
            padding: 30px;
            border-radius: 5px;
        }
    </style>

    <h1 style="margin-top: 50px;">Report Fraud</h1>
    <div class="ui stackable centered grid container">
        <div class="sixteen wide column">
            <div class="paper">
                <h2 style="color: #47688c;">
                    --- Report Fraud Here ---
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}