{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<!-- html for search page -->
<!-- @dev: Robin -->
<div style="width: 70%; margin: auto;">

    <div class="ui grid" style="margin-top: 50px; height: auto; min-height: 100%; position: relative; margin-bottom: 10%;">

        <div class="four wide column">
            <div style="margin-top: 50px;">
              {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            {{ f.begin_form(form, flashes) }}
                <div class="search-form">
                    <label class="label">Department</label>
                    <select class="ui selection dropdown search">
                        <option value="">ALL DEPARTMENTS</option>
                        <option value="0">ALL DEPARTMENTS</option>
                        {% for dept in depts %}
                        <option value="{{ dept.department_name }}">{{ dept.department_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search-form">
                    <label class="label">Contract Type</label>
                    <select class="ui selection dropdown search">
                        <option value="">ALL SERVICES</option>
                        <option value="0">ALL SERVICES</option>
                        {% for type in types %}
                        <option value="{{ type.contract_structure_type }}">{{ type.contract_structure_type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search-form">
                  {{ f.render_form_field(form.vendor) }}
                    <!--<label style="display: block; margin-bottom: 10px;">VENDOR NAME</label>
                    <div class="ui input">
                        <input type="text" placeholder="Search..." style="width: 195px">
                    </div>-->
                </div>
                <div class="search-form">
                    <label class="label">Keyword</label>
                    <div class="ui input">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
                <div class="search-form">
                    {{ f.render_form_field(form.original_contract_id) }}
                    <!--label style="display: block; margin-bottom: 10px;">CONTRACT NUMBER</label>
                    <div class="ui input">
                        <input type="text" placeholder="Search..." style="width: 195px;">
                    </div-->
                </div>
                <div class="search-form">
                    <label class="label">Contract Approval Date</label>
                    {{ f.render_form_field(form.start_dt) }}
                    {{ f.render_form_field(form.end_dt) }}
                </div>
                <div class="search-form">
                    <label class="label">Search by Amount</label>
                    <div class="two wide column">
                        <div class="ui checkbox" style="width: 50%;">
                            <input type="checkbox" style="width: 50%;">
                            <label>CONTRACT</label>
                        </div>
                        <div class="ui checkbox">
                            <input type="checkbox" style="width: 50%;">
                            <label>PAID</label>
                        </div>
                    </div>

                    <!-- Semanitic UI does not support sliders: need to make a dynamic slider later-->
                    <label style="display: block; margin-top: 15px; font-size: 13px">Minimum</label>
                    <div class="three wide column">
                        <div class="paper-mini">
                            <div class="ui input">
                                <input type="text" placeholder="$XXX,XXX">
                            </div>
                        </div>
                    </div>
                    <label style="display: block; margin-top: 15px; font-size: 13px">Maximum</label>
                    <div class="three wide column">
                        <div class="paper-mini">
                            <div class="ui input">
                                <input type="text" placeholder="$XXX,XXX">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: 20px; width: 100%; font-family: Avenir;">

                    {{ f.render_form_field(form.submit) }}
                    <!-- Upon clicking "View Contract",
                    Displays a number of contracts depending on result of dropdown
                    Or Displays Instructions if default is selected.
                    Also shows the number of results currently displayed on that page -->
                    <script>
                        document.getElementById("viewButton").onclick = function () {
                            var numResults = parseInt($("#resultsDropdown :selected").val());
                            var instructionsContainer = document.getElementById("instructionsContainer");
                            var resultsContainer = document.getElementById('resultsContainer');
                            var displaysContainer = document.getElementById('displaysContainer');
                            // Clears instructionsContainer, resultsContainer, and displaysContainer
                            while(instructionsContainer.firstChild){
                                instructionsContainer.removeChild(instructionsContainer.firstChild);
                            }
                            while(resultsContainer.firstChild){
                                resultsContainer.removeChild(resultsContainer.firstChild);
                            }
                            while(displaysContainer.firstChild){
                                displaysContainer.removeChild(displaysContainer.firstChild);
                            }
                            var html = ''
                            if (numResults > 0) { // Populate resultsContainer and displaysContainer, depending on result of dropdown
                                html += '<div><h2>Contract Results</h2></div>'
                                for(var i = 1; i <= numResults; i++){
                                    html +=
                                    '<div class="paper">'
                                    +    '<div class="ui grid">'
                                    +        '<div class="eight wide column">'
                                    +            '<h3 class="theme-primary" style="line-height: 10px; margin-top: 5px;">'
                                    +               'Vehicle Service #'+ i
                                    +            '</h3>'
                                    +            '<p><i>FLEET MANAGEMENT SERVICES</i></p>'
                                    +        '</div>'
                                    +        '<div class="eight wide column">'
                                    +            '<div style="line-height: 20px; ">'
                                    +                '<div class="tag">'
                                    +                    'TYPE</div>'
                                    +                '<b>PROFESSIONAL'
                                    +                    'SERVICES</b>'
                                    +            '</div>'
                                    +            '<div style=" line-height: 20px;">'
                                    +                '<div class="tag">'
                                    +                    'DEPT</div><b>MANAGEMENT & BUDGET</b>'
                                    +            '</div>'
                                    +        '</div>'
                                    +        '<div class="eight wide column">'
                                    +            '<p><b>Current contact amount:</b> $XXXXX</p>'
                                    +            '<p><b>Contract:</b> $XXXXX</p>'
                                    +        '</div>'
                                    +        '<div class="eight wide column">'
                                    +            '<p><b>Original contact amount:</b> $XXXXX</p>'
                                    +            '<p><b>Contract Term:</b> $XXXXX</p>'
                                    +        '</div>'
                                    +    '</div>'
                                    +    '<button class="ui primary button" style="margin-top: 20px;">'
                                    +        'View Contract'
                                    +    '</button>'
                                    +'</div>'
                                }
                                resultsContainer.innerHTML = html
                                displaysContainer.innerHTML = 'VIEW RESULTS: 1 -' + numResults + ' OF 100'
                            }
                            else { // Populates instructionsContainer and displaysContainer if default is selected
                                html +=
                                '<div id="instructionsContainer">'
                                +    '<div>'
                                +        '<h2>'
                                +            'Instructions'
                                +        '</h2>'
                                +    '</div>'
                                +    '<div class="paper">'
                                +        '<div class="ui grid">'
                                +            '<h3 class="theme-primary" style="margin-top: 10px;">'
                                +                'Searching'
                                +            '</h3>'
                                +            '<p class="theme-secondary">'
                                +                'Search here for city contracts. You can filter by department, contract type, '
                                +                'approval date, or restrict to a contract dollar amount range. You can also search '
                                +                'by specific vendor names or keywords.'
                                +            '</p>'
                                +            '<h3 class="theme-primary">'
                                +                'Search Criteria'
                                +            '</h3>'
                                +            '<p class="theme-secondary">'
                                +                'Contract Amount can be selected based on a range from the minimum to maximum.'
                                +               'Use the sliders to select the maximum or minimum amounts.'
                                +                '<br><br>'
                                +                'Contract Approval Date can be selected based on a range using the two date widgets to the left.'
                                +            '</p>'
                                +            '<h3 class="theme-primary">'
                                +                'Search Results'
                                +            '</h3>'
                                +            '<p class="theme-secondary">'
                                +                'Since the number of results might be quite large, contracts are presented one page at a time.'
                                +                '<br><br>'
                                +                'You can set the page size from 10-100, and also sort by most of these criteria '
                                +                '(click on the arrow to the right to change the sort direction).'
                                +            '</p>'
                                +        '</div>'
                                +    '</div>'
                                +'</div>'
                                instructionsContainer.innerHTML = html
                                displaysContainer.innerHTML = 'VIEW RESULTS: 0 OF 100'
                            }
                        };
                    </script>
                </div>
                {{ f.end_form(form) }}
            </div>

        </div>

        <div class="twelve wide column", style="margin-top: 5%">
            <div id="resultsContainer"></div>
            <div id="instructionsContainer">
                <h2 style="font-family: Avenir">
                    Instructions
                </h2>
            </div>
            <div class="paper">
                <!-- <div class="ui grid"> -->
                    <h3 class="theme-primary" style="margin-top: 10px;">
                        Searching
                    </h3>
                    <p class="theme-secondary">
                        Search here for city contracts. You can filter by department, contract type,
                        approval date, or restrict to a contract dollar amount range. You can also search
                        by specific vendor names or keywords.
                    </p>

                    <h3 class="theme-primary">
                        Search Criteria
                    </h3>
                    <p class="theme-secondary">
                        Contract Amount can be selected based on a range from the minimum to maximum.
                        Use the sliders to select the maximum or minimum amounts.
                        <br></br>
                        Contract Approval Date can be selected based on a range using the two date widgets to the left.
                    </p>

                    <h3 class="theme-primary">
                        Search Results
                    </h3>
                    <p class="theme-secondary">
                        Since the number of results might be quite large, contracts are presented one page at a time.
                        <br><br>
                        You can set the page size from 10-100, and also sort by most of these criteria
                        (click on the arrow to the right to change the sort direction).
                    </p>
                <!-- </div> -->
            </div>
            <div class="view-results-style">
                <label style="display: block; padding-bottom: 5px;" id="displaysContainer">
                    VIEW RESULTS: 0 OF 100
                </label>
                <select class="ui selection dropdown" id="resultsDropdown">
                    <option value="0">RESULTS PER PAGE</option>
                    <option value="5">5 PER PAGE</option>
                    <option value="10">10 PER PAGE</option>
                    <option value="20">20 PER PAGE</option>
                    <option value="50">50 PER PAGE</option>
                    <option value="100">100 PER PAGE</option>
                </select>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
