{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<!-- html for search page -->
<!-- @dev: Robin -->
{% set flashes = {
    'success': get_flashed_messages(category_filter=['form-success'])
  } %}
<div style="width: 70%; margin: auto;">

    <div class="ui grid" style="margin-top: 50px; height: auto; min-height: 100%; position: relative; margin-bottom: 10%;">
        <div class="four wide column">
            <div style="margin-top: 10px;">
              {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}
            {{ f.begin_form(form, flashes) }}
                <div class="container" style="margin-top: 20px;">
                    {{ f.render_form_field(form.submit) }}
                    {{ f.begin_form(database_csv_form, flashes) }}
                </div>
                <div class="search-form">
                    {{ f.render_form_field(form.department) }}
                </div>
                <div class="search-form">
                    {{ f.render_form_field(form.contract_type) }}
                </div>
                <div class="search-form">
                  {{ f.render_form_field(form.vendor) }}
                </div>
                <div class="search-form">
                    {{ f.render_form_field(form.keyword) }}
                </div>
                <div class="search-form">
                    {{ f.render_form_field(form.original_contract_id) }}
                </div>
                <div class="search-form">
                    <label class="label">Date Range</label>
                    {{ f.render_form_field(form.start_dt) }}
                    {{ f.render_form_field(form.end_dt) }}
                </div>
                <div class="search-form">
                  <label class="label">Amount Range</label>
                  {{ f.render_form_field(form.minimum) }}
                  {{ f.render_form_field(form.maximum) }}
                </div>
                <div class="search-form">
                  <label class="label">Profit Status:</label>
                    {{ f.render_form_field(form.for_profit) }}
                    {{ f.render_form_field(form.non_profit) }}
                </div>
                <div class="search-form">
                  <label class="label">Advertising Status:</label>
                    {{ f.render_form_field(form.adv) }}
                    {{ f.render_form_field(form.ex) }}
                </div>
            </div>

        </div>

        <div class="twelve wide column" style="margin-top: 30px">
            <div id="resultsContainer"></div>
            <div id="instructionsContainer">
                <h2 style="font-family: Avenir; float: left">
                    Instructions
                </h2>
                <div style="float: right">
                    <i class="download icon" style="display: inline-block; color: grey"></i>
                    <div style="display:inline-block">
                        {{ f.render_form(database_csv_form) }}
                        {{ f.end_form(database_csv_form) }}
                    </div>
                </div>
            </div>
            <div class="paper" style="clear: both">
                <!-- <div class="ui grid"> -->
                    <h3 class="theme-primary" style="margin-top: 10px;">
                        Searching
                    </h3>
                    <p class="theme-secondary">
                        Search here for professional services contracts. You can filter by any of the fields shown here. Leave all fields blank to show all the contracts on record.
                    </p>

                    <h3 class="theme-primary">
                        Search Criteria
                    </h3>
                    <p class="theme-secondary">
                        Keyword search looks through vendor name, department name, contract type, advertising status, and description.
                        <br></br>
                        Contract Number refers to the Original Contract ID Number associated with a contract or set of contracts.
                        <br></br>
                        Contract Amount can be selected based on a range from the minimum to maximum. You can enter just a minimum, just an maximum, or both.
                        <br></br>
                        Similarly, Contract Date can be selected based on a date range. You can enter just a start date, just an end date, or both.
                        Results will be shown that start and end within that date range.
                    </p>

                    <h3 class="theme-primary">
                        Search Results
                    </h3>
                    <p class="theme-secondary">
                        Since the number of results might be quite large, contracts are presented one page at a time.
                        <br><br>
                        You can sort results by vendor name, end date, contract amount, or percent paid. You can also view results without a filter.
                    </p>
                    <br/>
                <!-- </div> -->
            </div>

        </div>

    </div>
</div>
</div>
{% endblock %}
