{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui text container">
    <style>
        .paper {
            background-color: #f7f7f7;
            margin-top: 10px;
            padding: 30px;
            border-radius: 5px;
        }
    </style>

    <h1 style="margin-top: 50px;">Search Tips</h1>
    <div class="ui stackable centered grid container">
        <div class="sixteen wide column">
            <div class="paper">
                <h2 style="color: #47688c;">
                    Search Tip #1
                </h2>
                <ul style="list-style-type: none;">
                    <li>--- Tip #1 goes here ---</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}