@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/app-fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/app-fonts/AvenirNext-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/app-fonts/AvenirNext-DemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
          url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
          url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
          url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
          url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  }


body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* @media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px;
    max-width: 700px;
  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }

  nav.ui.container .ui.compact.menu {
    float: right;
  }
} */

.reset-button {
  width: auto;
  background:none;
  padding:none;
  border: none;
  font-family: "Avenir Next";
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  color: #0f4d90;
}

.reset-button:hover {
  color: #96c9ff;
}

.ui {
  font-family: "Avenir Next", sans-serif !important;
}

.back-to-home {
  font-family: Avenir;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: "Avenir Next", sans-serif !important;
}

.heading-text {
  clear: both;
  padding-bottom: 45px;
}

h3 {
  font-size: 18px;
}

.ui.centered.grid {
  height: 100vmin;
}

.row .text.container {
  /* height: 200px; */
  /* margin-bottom: 10%; */
  margin: auto;
  width: 70%;
}

.right-nav-link {
  position: absolute;
  left: 85px;
  top: 22px;
  color: white;
}

.text.container h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
}

.text.container .blue_header {
  color: #0f4d90;
}

.text.container p {
  font-size: 15px;
  line-height: 1.6;
  color: #2176d2;
  font-weight: 500;
  text-align: left;
  padding-top: 3%;
  text-align: justify;
}

.text.container .regular {
  color: #333333;
}

.five.wide.column {
  margin-top: 10%;
  margin-right: 2%;
  margin-left: 2%;
}

.five.wide.column img {
  margin-top: 10%;
  width: 100%;
}

.three.wide.column .ui.button {

  color: #676767;
  background-color: #F7F7F7;
  width: 90%;
}

.three.wide.column .ui.button:hover {
  color: #96c9ff;
}

.three.wide.column {
  width: 90%;
}

.ui.stackable.grid.container {
  width: 800px;
  text-align: left;
}

.three.wide.column p {
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
  font-weight: 500;
  text-align: left;
  padding-top: 5%;
  width: 90%;
  padding-right: 3%;
  padding-left: 3%;
}

.row {
  margin-top: 100px;
  margin-bottom: -40px;
}

.ui.segment p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  color: #333333;
  font-weight: 500;
  text-align: left;
}
/* custom ids */

#custom_link {
  color: #2176d2;
  font-weight: 600;
}

.nav-rectangle {
  height: 60px;
  width: 100%;
  background-color: #0f4d90;
  vertical-align: baseline;
  /* position: fixed; */
}

.nav-rectangle-left {
  position: absolute;
  height: 60px;
  width: 70px;
  left: 0px;
  background-color: #0f4d90;
  /* position: fixed; */
}

.nav-rectangle-left img {
  height: 80%;
  margin: 6px;
  padding-left: 4px;
}

a.nav-rectangle-left:hover {
  background-color: #f3c613;
}

.nav-wrapper {
  width: 100%;
  text-align: right;
  padding-top: 7px;
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* position: fixed; */
  top: 0;
}

.nav-top li {
  display: inline;
  font-weight: bold;
  font-size: 14px;
  margin-right: 2%;
}

.nav-top a {
  color: white;
}

.nav-top a:hover {
  color: #96c9ff;
}

.top-segment {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  clear: both;
}

.left-segment {
  /* margin-left: 20%; */
  margin-right: 50px;
  margin-top: 50px;
  float: left;
  clear: left;
}

.left-segment ul {
  text-align: left;
  line-height: 1.6;
  font-size: 15px;
  font-weight: 500;
}

.right-segment {
  float: right;
  clear: right;
  text-align: right;
}

.right-segment img {
  width: 470px;
  margin-top: 75px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.bottom-nav-wrapper {
  width: 100%;
  text-align: left;
}

.bottom-nav-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-left: 2%;
  padding-bottom: 20px;
  background-color: white;
  padding-top: 20px;
}

.bottom-nav-wrapper li {
  color: #2176d2;
  font-weight: bold;
  font-size: 14px;
  margin-right: 3%;
  display: inline;
}

.copyright {
  float: right;
  color: black;
  font-weight: bold;
  font-size: 14px;

}

.copyright a {
  color: #f3c613;
}

.copyright a:hover {
  color: #2176d2;
}

.nav-link {
  color: #333333;
}

.paper {
  background-color: #f7f7f7;
  margin-top: 10px;
  border-radius: 5px;

}

.paper h2 {

  color: #2176d2;
}

.ui.text.container .paper ul {

  color: #333333;
  list-style-type: none;
  padding-left: 0px;
  font-weight: 450;
}

.paper .column {
  margin-top: 8px;
}

.column {
  margin-top: 20px;
}

.ui.text.container h2 {
  font-size: 20px;
  color: #0f4d90;
}

.ui.text.container .ui.form {

  font-weight: 600;
  margin-top: -5%;
  color: #444;
}

.ui.text.container .ui.form .ui.button {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  float: right;

  background-color: #0f4d90;
  color: #F7F7F7;
}

.ui.text.container p {
  color: #333333;
  font-size: 15px;
  line-height: 1.6;
  margin-top: -2%;
}

.ui.text.container ul.fraud_list {
  list-style-type: disc;
  margin-left: 5%;
  font-weight: 450;
  font-size: 15px;
  line-height: 1.6;

}

.ui.text.container ul.fraud_list li {
  padding-top: 1%;
}

.paper {
  background-color: #f7f7f7;
  margin-top: 10px;
  padding: 40px;
  border-radius: 6px;
  padding-top: -10px;
}

.paper-mini {
  background-color: #f7f7f7;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.button-mini {
  border-radius: 15px;
  size: 5px;
}

.theme-primary {
  color: #0f4d90;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Avenir Next", sans-serif;
}

.theme-secondary {
  color: #333333;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 450;
  font-family: "Avenir Next", sans-serif;
}

.view-results-style {
  padding-top: 40px;
  float: right;
}

.tag {
  display: inline-block;
  background-color: #c5cfd9;
  color: white;
  border-radius: 5px;
  margin: 2px;
  padding: 0px 15px;
  margin-right: 5px;
}

.label {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.search-form {
  margin-top: 25px;
  width: 100%;
  padding-right: 20px;
}

#custom-button {
  font-family: Avenir Next;
}

.menu .item a {
  z-index: 25;
}
