@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px;
    max-width: 700px;
  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }

  nav.ui.container .ui.compact.menu {
    float: right;
  }
}

.ui.centered.grid {
  height: 100vh;
}

.row .text.container {
  /* height: 200px; */
  /* margin-bottom: 10%; */
  margin: auto;
  width: 54%;
}

.text.container h1.header {
  font-size: 36px;
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  text-align: left;
}

.text.container p {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Avenir", sans-serif;
  color: #2176d2;
  font-weight: 500;
  text-align: left;
  padding-top: 3%;
}

.three.wide.column .ui.button {
  font-family: "Avenir", sans-serif;
  color: #676767;
  background-color: #F7F7F7;
  width: 90%;
}

.three.wide.column .ui.button:hover {
  color: #96c9ff;
}

.three.wide.column {
  width: 90%;
}

.ui.stackable.grid.container {
  width: 800px;
  text-align: left;
}

.three.wide.column p {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Avenir", sans-serif;
  color: #333333;
  font-weight: 500;
  text-align: left;
  padding-top: 5%;
  width: 90%;
  padding-right: 3%;
  padding-left: 3%;
}

.row {
  margin-top: 10%;
}

.ui.segment p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Avenir", sans-serif;
  color: #333333;
  font-weight: 500;
  text-align: left;
}

.sixteen.wide.column .ui.text.container .ui.segment {
  background-color: #F7F7F7;
  color: #333333;
}

.sixteen.wide.column .ui.text.container .ui.segment p {
  color: #333333;
}

/* custom ids */

#custom_link {
  color: #2176d2;
  font-weight: 600;
}

#about {
  padding-top: 80px;
}

.nav-rectangle {
  height: 5%;
  width: 100%;
  background-color: #0f4d90;
  vertical-align: baseline;
}

.nav-rectangle-right {
  position: absolute;
  height: 5%;
  width: 11%;
  right: 0px;
  background-color: #ffefa2;
}

.top-nav {
  font-weight: bold;
  font-family: "Avenir";
  font-size: 14px;
  margin-top: 2.5%;
  margin-right: 5%;
}

.top-nav a {
  color: white;
}

.top-nav a:hover {
  color:#96c9ff;
}

.bottom-nav {
  float: bottom;
  color: #2176d2;
  font-weight: bold;
  font-size: 14px;
  margin-right: 3%;
  font-family: "Avenir";
}

.copyright {
  float: bottom;
  position: absolute;
  right: 5%;
  color: black;
  font-weight: bold;
  font-size: 14px;
  font-family: "Avenir";
}

.nav-link {
  color: #333333;
}

.nav-rectangle-right img {
  height: 100%;
  margin-left: 10%;
}
