@media -sass-debug-info{filename{}line{font-family:\000037}}
nav {
  margin-bottom: 40px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px;
    max-width: 700px;
  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }

  nav.ui.container .ui.compact.menu {
    float: right;
  }
}

.ui.centered.grid {
  height: 100vmin;
}

.row .text.container {
  /* height: 200px; */
  /* margin-bottom: 10%; */
  margin: auto;
  width: 54%;
}

.text.container h1 {
  font-size: 36px;
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  text-align: left;
}

.text.container .blue_header {
  color: #0f4d90;
}

.text.container p {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Avenir", sans-serif;
  color: #2176d2;
  font-weight: 500;
  text-align: left;
  padding-top: 3%;
  text-align: justify;
}

.text.container .regular {
  color: #333333;
}

.five.wide.column {
  margin-top: 10%;
  margin-right: 2%;
  margin-left: 2%;
}

.five.wide.column img {
  margin-top: 10%;
  width: 100%;
}

.three.wide.column .ui.button {
  font-family: "Avenir", sans-serif;
  color: #676767;
  background-color: #F7F7F7;
  width: 90%;
}

.three.wide.column .ui.button:hover {
  color: #96c9ff;
}

.three.wide.column {
  width: 90%;
}

.ui.stackable.grid.container {
  width: 800px;
  text-align: left;
}

.three.wide.column p {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Avenir", sans-serif;
  color: #333333;
  font-weight: 500;
  text-align: left;
  padding-top: 5%;
  width: 90%;
  padding-right: 3%;
  padding-left: 3%;
}

.row {
  margin-top: 10%;
  margin-bottom: -7%;
}

.ui.segment p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Avenir", sans-serif;
  color: #333333;
  font-weight: 500;
  text-align: left;
}
/* custom ids */

#custom_link {
  color: #2176d2;
  font-weight: 600;
}

.nav-rectangle {
  height: 5%;
  width: 100%;
  background-color: #0f4d90;
  vertical-align: baseline;
}

.nav-rectangle-right {
  position: absolute;
  height: 5%;
  width: 11%;
  right: 0px;
  background-color: #ffefa2;
}

.top-nav {
  font-weight: bold;
  font-family: "Avenir";
  font-size: 14px;
  margin-top: 2.5%;
  margin-right: 5%;
}

.top-nav a {
  color: white;
}

.top-nav a:hover {
  color: #96c9ff;
}

.bottom-nav {
  float: bottom;
  color: #2176d2;
  font-weight: bold;
  font-size: 14px;
  margin-right: 3%;
  font-family: "Avenir";
}

.copyright {
  float: bottom;
  position: absolute;
  right: 5%;
  color: black;
  font-weight: bold;
  font-size: 14px;
  font-family: "Avenir";
}

.copyright a {
  color: #f3c613;
}

.copyright a:hover {
  color: #2176d2;
}

.nav-link {
  color: #333333;
}

.nav-rectangle-right img {
  height: 100%;
  margin-left: 10%;
}

.paper {
  background-color: #f7f7f7;
  margin-top: 10px;
  padding: 30px;
  border-radius: 5px;
}

.paper h2 {
  font-family: "Avenir";
  color: #2176d2;
}

.ui.text.container .paper ul {
  font-family: "Avenir";
  color: #333333;
  list-style-type: none;
  padding-left: 0px;
  font-weight: 450;
}

.column {
  margin-top: 7%;
}

.ui.text.container h1 {
  font-family: "Avenir";
}

.ui.text.container h2 {
  font-size: 20px;
  color: #0f4d90;
}

.ui.text.container .ui.form {
  font-family: "Avenir";
  font-weight: 600;
  margin-top: -5%;
  color: #444;
}

.ui.text.container .ui.form .ui.button {
  margin-top: 30px; 
  width: 200px; 
  height: 40px; 
  float: right;
  font-family: "Avenir";
  background-color: #0f4d90;
  color: #F7F7F7;
}

.ui.text.container p {
  color: #333333;
  font-size: 15px;
  line-height: 1.6;
  margin-top: -2%;
}

.ui.text.container ul.fraud_list {
  list-style-type: disc;
  margin-left: 5%;
  font-weight: 450;
  font-size: 15px;
  line-height: 1.6;
  
}

.ui.text.container ul.fraud_list li {
  padding-top: 1%;
}

.paper {
  background-color: #f7f7f7;
  margin-top: 10px;
  padding: 40px;
  border-radius: 6px;
  padding-top: -10px;
}

.paper-mini {
  background-color: #f7f7f7;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.button-mini {
  border-radius: 15px;
  size: 5px;
}

.theme-primary {
  color: #0f4d90;
  font-size: 20px;
  margin-top: 10px;
  font-family: Avenir;
}

.theme-secondary {
  color: #333333;
  font-size: 16px;
  line-height: 1.4;
  font-family: Avenir;
  font-weight: 450;
}

.view-results-style {
  padding-top: 40px;
  float: right;
}

.tag {
  display: inline-block;
  background-color: #c5cfd9;
  color: white;
  border-radius: 5px;
  margin: 2px;
  padding: 0px 15px;
  margin-right: 5px;
}

.label {
  font-weight: 600; 
  font-family: Avenir;
  display: block; 
  margin-bottom: 10px;
}

.search-form {
  margin-top: 25px;
  font-family: Avenir;
  width: 80%;
}