{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    {% set flashes = {
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}
    
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>

            <h2 class="ui header">
                Download CSV File
                <div class="sub header">
                    Download .csv of All Contract Data.
                </div>
            </h2>

            <form class="field" method="POST">
                <button class="ui button primary" type="submit">Download</button>
            </form>
            

        </div>
    </div>

  
{% endblock %}