{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content" style="font-family: Avenir Next">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %} 

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column" style="margin-top: 80px">
            <h2 class="ui header" style="font-family: Avenir">
                Admin Dashboard
            </h2>
            <h3 class="ui header" style="font-family: Avenir; font-weight: 400; margin-top: -1%; color: #2176d2">
                View and manage your admin settings.
            </h3>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Registered Users', 'admin.registered_users',
                                    description='View and manage admin accounts', icon='users icon') }}
                {{ dashboard_option('Add New User', 'admin.new_user',
                                    description='Create a new user account', icon='add user icon') }}
                {{ dashboard_option('Upload CSV', 'admin.upload_csv',
                                    description='Upload a CSV file', icon='upload icon') }}
                {{ dashboard_option('Download CSV', 'admin.download_csv',
                                    description='Download the CSV file', icon='download icon') }}
                {{ dashboard_option('View Database', 'admin.view_database', 
                                     description="View the database", icon='folder open icon')}}
                {{ dashboard_option('Delete CSV', 'admin.delete_csv', 
                                     description="Delete some CSV files", icon='folder open icon')}}
            </div>
        </div>
    </div>
{% endblock %}