{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                <!-- {% if icon is not none %}
                    <i class="{{ icon }}" style="font-family: Lato !important"></i>
                {% endif %} -->
                <div class="content" style="font-family: Avenir Next">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column" style="margin-top: 80px">
            <h2 class="ui header" style="font-family: Avenir">
                Admin Dashboard
            </h2>
            <h3 class="ui header" style="font-family: Avenir; font-weight: 400; margin-top: -1%; color: #2176d2">
                All your admin settings.
            </h3>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Registered Admins', 'admin.registered_users',
                                    description='View and manage admin accounts', icon='users icon') }}
                {{ dashboard_option('Add New Admin', 'admin.new_user',
                                    description='Create a new admin account', icon='add user icon') }}
                {{ dashboard_option('Upload Contracts', 'admin.upload_csv',
                                    description='Upload a CSV file of contracts', icon='upload icon') }}
                {{ dashboard_option('Download Contracts', 'admin.download_csv',
                                    description='Download a CSV of contracts', icon='download icon') }}
                {{ dashboard_option('Delete Contracts', 'admin.delete_csv',
                                     description="Delete contracts from the database", icon='folder open icon')}}
                {{ dashboard_option('Manage Department Names', 'admin.manage_department_names',
                                     description="Manage list of department names", icon='folder open icon')}}
                {{ dashboard_option('Manage Contract Types', 'admin.manage_contract_types',
                                    description="Manage list of contract types", icon='folder open icon')}}
                {{ dashboard_option('Admin User Guide', 'admin.guide',
                                    description="Outline of admin features and developer contact", icon='folder open icon')}}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
