{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    {% set flashes = {
        'success': get_flashed_messages(category_filter=['form-success'])
    } %}
    {% set flashes = {
      'error':   get_flashed_messages(category_filter=['form-error']),
      'warning': get_flashed_messages(category_filter=['form-check-email']),
      'info':    get_flashed_messages(category_filter=['form-info']),
      'success': get_flashed_messages(category_filter=['form-success'])
  } %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>

            <h2 class="ui header">
               Manage Contract Types
                <div class="sub header">
                    To manage contract types and department names, download the CSV of current entries and upload a new CSV.
                </div>
            </h2>

              <div class="columns">
              {{ f.begin_form(addctform, flashes) }}
              {{ f.render_form_field(addctform.newct) }}
              {{ f.render_form_field(addctform.addct) }}
              {{ f.end_form(addctform) }}
              {% if addctSuccessful %}
                  <div class="ds-container">
                      Successfully added. Refresh to view changes.
                  </div>
              {% endif %}
              <div class="column">
                  <h3 class="ui header">
                      Contract Types
                  </h3>
                  <table class="ui celled table">
                      <thead>
                          <tr>
                              <th style="width: 10%;"></th>
                              <th>Contract Type</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for type in type_list %}
                          <tr>
                              <td data-label="selected" style="text-align: center;">
                                  <div class="ui fitted slider checkbox">
                                      <input class="checkbox-input" value="{{ name }}" type="checkbox"> <label></label>
                                  </div>
                              </td>
                              <td data-label="timestamp">
                                  <span stlye="width: 60px">
                                      {{ type.contract_structure_type }}
                                  </span>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>


            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


    <script type=text/javascript>
        $('#deleteSelectedButton').on('click', function() {
            $('input[type="checkbox"]').each(function() {
                if ($(this).is(':checked')) {
                    var csrf_token = "{{ csrf_token() }}";
                    $.ajax({
                        url: '/admin/delete_selected',
                        type: 'POST',
                        data: JSON.stringify({timestamp: $(this).val()}),
                        dataType: 'json',
                        contentType: 'application/json',
                        headers: {"X-CSRFToken": csrf_token},
                        error: function(e) {
                            console.log(e);
                        }
                    })
                }
            })
        })
    </script>

{% endblock %}
