{% extends 'layouts/base.html' %}

{% block content %}

    <style>
        .us-container {
            margin-top: 10px;
            padding: 10px;
            border-style: dotted;
            border-width: 1px;
            border-radius: 5px;
            color: green;
            display:inline-block;
        }

        .fd-container {
            margin-top: 10px;
            padding: 10px;
            border-style: dotted;
            border-width: 1px;
            border-radius: 5px;
            color: #d68b00;
            display:inline-block;
        }

        .fbr-container {
            margin-top: 10px;
            padding: 10px;
            border-style: dotted;
            border-width: 1px;
            border-radius: 5px;
            color: red;
            display:inline-block;
        }
    </style>

    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Upload CSV File
                <div class="sub header">
                    View and manage CSV files.
                </div>
            </h2>

            <form class="ui form" action="http://localhost:5000/admin/upload-csv" method = "POST" enctype = "multipart/form-data">
                {{ form.csrf_token }}
                <div class="search-form">
                    <label class="ui header">Quarter</label>
                    <div style="margin-top: 1%">
                        <select name="quarter_select" class="ui selection dropdown search">
                            <option value="1">Q1</option>
                            <option value="2">Q2</option>
                            <option value="3">Q3</option>
                            <option value="4">Q4</option>
                        </select>
                    </div>
                </div>

                <div class="search-form" style="margin-top: 2%; margin-bottom: 3%">
                    <label class="ui header">Year</label>
                    <br>
                    <div class="ui input" style="margin-top: 1%">
                        <input name="year_select" type="text" placeholder="Year">
                    </div>
                </div>

                <div class="field">
                    <input class="inputfile" type="file" name="document"></input>
                </div>
                <div class="field">
                    <button class="ui button primary" type="submit">Upload</button>
                </div>
            </form>

            <!-- The following four containers are upload alerts after CSV has been uploaded by admin -->
            {% if upload_status == 'Failed' %}
                <div class="fbr-container">
                    Upload Failed.
                </div>
                <br>
            {% endif %}

            {% if upload_status == 'Success' %}
                <div class="us-container">
                    Upload Successful!
                </div>
                <br>
            {% endif %}

            {% if found_duplicate %}
                <div class="fd-container">
                    WARNING: Duplicate contracts detected.
                </div>
                <br>
            {% endif %}

            {% if found_broken_row %}
                <div class="fbr-container">
                    WARNING: Trouble uploading some rows.
                </div>
            {% endif %}

        </div>
    </div>
  
{% endblock %}